---
// Henter parametrene fra Astro.props
const { variant= "primary", size = "medium" } = Astro.props; 

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper
const buttonStyling = "hover:jello-horizontal rounded-[100px] duration-500 font-[campton-xb] bg-pink text-hvid"; 

 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
"primary": "hover:drop-shadow-lg hover:opacity-90 focus:drop-shadow-none active:drop-shadow-none disabled:text-sort950 disabled:bg-sort700"
};

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige og størrelser.
const sizeClasses = {
"large": "px-[22px] py-[16px] text-xl",
"medium": "px-[22px] py-[12px] text-xl",
"small": "px-[22px] py-[8px] text-lg"
};
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>