---

---

<nav>
    <input type="checkbox" class="trigger" id="mainNavButton">
    <label for="mainNavButton">
      <div class="burger">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
      </div>
    </label>
    <ul>
      <li><a href="#hero" class="uppercase text-hvid font-[campton-sb] lg:text-lg hover:text-pink duration-300">#SINGLEUSESUCKS</a></li>
      <li><a href="#plastikforurening" class="uppercase text-hvid font-[campton-sb] lg:text-lg hover:text-pink duration-300">plastikforurening</a></li>
      <li><a href="#problemet" class="uppercase text-hvid font-[campton-sb] lg:text-lg hover:text-pink duration-300">problemet</a></li>
      <li><a href="#hvadkandu" class="uppercase text-hvid font-[campton-sb] lg:text-lg hover:text-pink duration-300">hvad kan du gøre?</a></li>
      <li><a href="#hvadvi" class="uppercase text-hvid font-[campton-sb] lg:text-lg hover:text-pink duration-300">hvem er vi</a></li>
      <li><a href="#form" class="uppercase text-hvid font-[campton-sb] lg:text-lg hover:text-pink duration-300">bidrag</a></li>
    <li><a href="#merch" class="uppercase text-hvid font-[campton-sb] lg:text-lg hover:text-pink duration-300">merchandise</a></li>
     <li><a href="#nyhedsbrev" class="uppercase text-hvid font-[campton-sb] lg:text-lg hover:text-pink duration-300">nyhedsbrev</a></li>
    </ul>
  </nav>

  <style>
    nav {
  position: sticky;
  background-color: #1a1a1a;
  z-index: 500;
}

nav input {
  display: none;
}

nav ul {
  display: none;
}

nav a {
  display: block;
  padding: 0.4em;
  background-color: #1a1a1a;
}

nav a:hover {
  background-color: #1a1a1a;
}

nav label {
  display: block;
  position: relative;
  text-align: left;
  padding: 1.5em;
}

nav .burger {
  position: absolute;
  cursor: pointer;
  user-select: none;
  top: 0.8em;
  right: 0.4em;
  width: 2em;
  height: 2em;
}

nav .burger span {
  display: block;
  height: 3px;
  margin: 4px;
  border-radius: 5px;
  background-color: #ffeff1;
  transition: all 0.3s ease-in-out;
}

nav input:checked ~ ul {
  display: block;
}

nav input:checked ~ label > .burger > span:nth-child(2) {
  width: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

nav input:checked ~ label > .burger > span:nth-child(1) {
  position: relative;
  top: 7px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

nav input:checked ~ label > .burger > span:nth-child(3) {
  position: relative;
  top: -7px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}

@media all and (min-width: 768px) {
  nav label {
    display: none;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul a {
    background-color: transparent;
  }
}

  </style>