---
import { Image } from 'astro:assets';
import logo from "../assets/images/logo_plasticchange.svg";
import plastik2 from "../assets/images/skrald1.png";
import plastik1 from "../assets/images/skrald2.png";
import plastik3 from "../assets/images/skrald3.png";

---


<section class="h-lvh lg:h-screen bg-sort950" id="hero">
    <div class="relative top-1/4 lg:top-[10%]">
    <div class="grid grid-rows-2">
        <div class="flex justify-center">
        <Image src={logo} alt="Plastic Change logo" class="hover:grayscale" loading="lazy"/>
        </div>
        <div class="flex justify-center">
            <div class="grid grid-rows-[1fr_4fr] gap-0">
                <p class="font-[oliver] text-hvid text-sm lg:text-lg object-left">Vores verden kan ikke holde til mere unødvendig plastik.</p>
                <h1 class="font-[campton-xb] text-pink text-[45px] lg:text-9xl tracking-in-expand">#SINGLEUSESUCKS</h1>
            </div>
        </div>
    </div>
    </div>

    <Image src={plastik1} alt="Plastic1" class="relative top-[40%] lg:top-[-49%] slide-in-right" loading="lazy"/>
    <Image src={plastik2} alt="Plastic2" class="relative top-[6%] lg:top-[-157%] slide-in-left" loading="lazy"/>
    <Image src={plastik3} alt="Plastic3" class="relative top-[-45%] lg:top-[-273%] slide-in-left" loading="lazy"/>
</section>