---
import { Image } from 'astro:assets';
import turtlebeach2 from "../assets/images/turtlebeach2.png";
import turtlebeach3 from "../assets/images/turtlebeach4.png";
---

<section class="h-full overflow-hidden lg:h-screen bg-hvid" id="problemet">
<div class="grid grid-rows-2 lg:grid-cols-2">
    <div class="mx-10 mt-10 lg:mt-16 lg:ml-20 lg:mr-10">
    <h2 class="font-[campton-xb] text-sort950 text-5xl lg:mb-2 lg:text-7xl">PROBLEMET</h2>
    <h3 class="font-[tiempos] text-sort950 text-2xl mb-7 lg:text-3xl lg:mb-10">Plastikforurening er skadeligt af flere grunde.</h3>
    <div class="" id="stagger">
        <div class="staggeranimation">
            <h4 class="font-[campton-xb] text-sort950 lg:text-xl">Skader på dyrelivet</h4>
            <p class="font-[tiempos] text-sort950 lg:text-lg mb-5">Plastik er blevet en uundgåelig del af vores hverdag, især fordi det er et billigt materiale. Brugen af engangsplastik er steget kraftigt, men dette har alvorlige konsekvenser for klimaet og miljøet.</p>
        </div>

        <div class="staggeranimation">
            <h4 class="font-[campton-xb] text-sort950 lg:text-xl">Forstyrrelse af økosystemer</h4>
            <p class="font-[tiempos] text-sort950 lg:text-lg mb-5">Størstedelen af plastikken fremstilles af fossile brændstoffer og nedbrydes meget langsomt. I mange lande er affaldshåndteringen utilstrækkelig, hvilket betyder, at store mængder plastik ender i naturen. En betydelig del af dette plastik havner i havet, hvor det skader dyrelivet, forstyrrer økosystemerne og bliver til mikroplast, som vi i stigende grad finder i vores fødevarer, drikkevand og luften, vi indånder.</p>
        </div>

        <div class="staggeranimation">
            <h4 class="font-[campton-xb] text-sort950 lg:text-xl">Sundhedsrisici for mennesker</h4>
            <p class="font-[tiempos] text-sort950 lg:text-lg ">Plastikforureningen er et voksende problem, og mange steder mangler der både viden, ressourcer og systemer til at bekæmpe det effektivt.</p>
        </div>
    </div>
    </div>
    <div class="">
        <Image src={turtlebeach2} alt="Skildpadde på strand med plastik" class="invisible absolute lg:relative z-10 lg:visible lg:max-h-screen fotoinview" loading="lazy"/>
        <Image src={turtlebeach3} alt="Skildpadde på strand med plastik" class="pt-12 lg:pt-0 lg:invisible z-[-10] lg:max-h-screen" loading="lazy"/>
    </div>
</div>
</section>

<script>
	/* Import af Motion One biblioteket */
	import { animate, stagger, inView, scroll, timeline } from "motion";

    /* Stagger animation */
	inView( "#stagger" , () =>{
		animate(
		".staggeranimation",
		{ opacity: [0, 1] },
		{ 
			delay: stagger(1, { start: 2 })
		}
		)
	})

    /* inView animation */
	inView( ".fotoinview" , () =>{
	animate( ".fotoinview", { x: [2000, 0 ] }, { duration: 3 })
	})
</script>